<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <title>Vue To Do List</title>
</head>
<body>

  <div id="app">

    <!-- area di input -->
    <div class="input-area">
      <input type="text" placeholder="New Task">
      <button>Aggiungi</button>
    </div>

    <!--lista-->
    <div class="container">
      
      <h2 v-if="tasks.length === 0">Non ci sono tasks! &#128526;</h2>

      <ul v-else class="tasks-list">

        <li 
          v-for="(task, index) in tasks" 
          :class="{'done' : task.done}"
          @click="task.done = !task.done"
        >

          <span>{{task.text}}</span>
          <i 
            @click.stop="removeTask(index)"
            class="fa-solid fa-trash-can"></i>
        </li>

      </ul>

      
    </div>
  </div>

  <script src="js/script.js"></script>
</body>
</html>